<app-positioner>
  <div class="registration">

    <div class="form">

      <div class="registry">

        <div class="personal">
          <!-- NAME -->
          <div class="inputField">
            <label>Name</label>
            <input class="input email" type="text" />
          </div>

          <!-- SURNAME -->
          <div class="inputField">
            <label>Surname</label>
            <input class="input email" type="text" />
          </div>

          <!-- AGE -->
          <div class="inputField">
            <label>Age</label>
            <input class="input email" type="number" />
          </div>
        </div>


        <div class="contacts">
          <!-- E-MAIL -->
          <div class="inputField">
            <label>E-mail</label>
            <input class="input email" type="text" />
          </div>

          <!-- TELEPHONE -->
          <div class="inputField">
            <label>Telephone</label>
            <input class="input email" type="number" />
          </div>

          <!-- ADDRESS -->
          <div class="inputField">
            <label>Address</label>
            <input class="input email" type="text" />
          </div>
        </div>
      </div>





      <div class="security">

        <!-- PASSWORD -->
        <div class="inputField">
          <label>Password</label>
          <input class="input password" type="text" />
        </div>

        <!-- CONFIRM PASSWORD -->
        <div class="inputField">
          <label>Confirm Password</label>
          <input class="input password" type="text" />
        </div>

      </div>


      <button type="submit" class="submit">sign up!</button>

    </div>

  </div>
</app-positioner>

